Repository golid-ai/golid: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

ci: disable codecov patch check (non-blocking noise)
  codecov.yml
Due: none

add 4 Cursor rules, .gcloudignore, and "keep tests in sync" section
  .cursor/rules/common-commands.mdc
  .cursor/rules/document-module.mdc
  .cursor/rules/frontend-forms.mdc
  .cursor/rules/write-rules.mdc
  .cursor/rules/write-tests.mdc
  CHANGELOG.md
  README.md
  backend/.gcloudignore
  frontend/.gcloudignore
Due: backend

update to gitignore
  .gitignore
Due: none

fix icon FOUT and rename "framework" to "starter"
  README.md
  backend/openapi.yaml
  docs/decisions/001-package-extraction-strategy.md
  docs/decisions/002-deferred-capabilities.md
  docs/demo-deployment.md
  frontend/src/app.css
  frontend/src/app.tsx
  frontend/src/entry-server.tsx
Due: backend, frontend

chore: add git-commits rule and sync parallel-subagents cross-refs
  .cursor/rules/git-commits.mdc
  .cursor/rules/parallel-subagents.mdc
  .cursor/rules/write-rules.mdc
Due: none

refactor: extract internal/service subpackages
  backend/cmd/worker/main.go
  backend/internal/handler/auth.go
  backend/internal/handler/auth_test.go
  backend/internal/handler/feature_test.go
  backend/internal/handler/interfaces.go
  backend/internal/handler/sse.go
  backend/internal/handler/sse_test.go
  backend/internal/handler/user.go
  backend/internal/handler/user_deref_test.go
  backend/internal/handler/user_test.go
  backend/internal/pagination/pagination.go
  backend/internal/pagination/pagination_test.go
  backend/internal/retry/retry.go
  backend/internal/retry/retry_test.go
  backend/internal/service/auth/auth.go
  backend/internal/service/auth/auth_concurrency_test.go
  backend/internal/service/auth/auth_integration_test.go
  backend/internal/service/auth/auth_password.go
  backend/internal/service/auth/auth_test.go
  backend/internal/service/auth/auth_verify.go
  backend/internal/service/auth/auth_verify_integration_test.go
  backend/internal/service/email/email.go
  backend/internal/service/email/email_test.go
  backend/internal/service/feature/feature.go
  backend/internal/service/feature/feature_integration_test.go
  backend/internal/service/feature/feature_test.go
  backend/internal/service/sse/sse.go
  backend/internal/service/sse/sse_concurrency_test.go
  backend/internal/service/sse/sse_test.go
  backend/internal/service/user/user.go
  backend/internal/service/user/user_integration_test.go
  backend/internal/service/user/user_test.go
Due: backend

refactor: sync scaffold for subpackage and wire output
  Makefile
  backend/cmd/rename/main.go
  backend/cmd/scaffold/main.go
Due: backend

refactor: introduce internal/wire and slim cmd/server
  backend/cmd/server/background.go
  backend/cmd/server/bootstrap.go
  backend/cmd/server/health.go
  backend/cmd/server/main.go
  backend/internal/wire/handlers.go
  backend/internal/wire/routes.go
  backend/internal/wire/services.go
  backend/internal/wire/wire.go
Due: backend

fix: correct package names for pagination and retry subpackages
  backend/internal/pagination/pagination.go
  backend/internal/pagination/pagination_test.go
  backend/internal/retry/retry.go
  backend/internal/retry/retry_test.go
Due: backend

test: port per-package integration harness
  .github/workflows/ci.yml
  Makefile
  backend/go.mod
  backend/go.sum
  backend/internal/service/auth/auth_integration_test.go
  backend/internal/service/user/user_integration_test.go
  backend/internal/testutil/schema.go
  backend/internal/testutil/schema_test.go
  backend/internal/testutil/testutil.go
  scripts/init-test-db.sh
Due: backend

fix: resolve TEST_MIGRATIONS_PATH when cwd differs from repo root
  .github/workflows/ci.yml
  backend/internal/testutil/schema.go
Due: backend

ci: shard backend jobs and add path filters
  .cursor/rules/ci-workflow.mdc
  .github/workflows/ci.yml
  .nvmrc
  codecov.yml
  docker-compose.ci-e2e.yml
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: add auth, users, and feature module spec stubs
  docs/modules/_templates/spec.md
  docs/modules/auth/spec.md
  docs/modules/feature/spec.md
  docs/modules/users/spec.md
Due: none

chore: port devcontainer reconnect safety from uflex
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .gitignore
  .vscode/start-frontend-dev.sh
  .vscode/tasks.json
  frontend/app.config.ts
  frontend/dev-watch.mjs
  frontend/package.json
Due: none

chore: upgrade vitest to v4 and recalibrate coverage thresholds
  frontend/package-lock.json
  frontend/package.json
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: frontend

ci: add spec-drift gate for module-owned handlers
  .cursor/rules/ci-workflow.mdc
  .cursor/rules/git-commits.mdc
  .github/workflows/ci.yml
  scripts/check_spec_drift.sh
Due: none

chore: extend rename tool for v0.3.0 paths
  .cursor/rules/rename-tool.mdc
  backend/cmd/rename/main.go
  scripts/README.md
Due: backend

chore: sync cursor rules from uflex operational patterns
  .cursor/rules/codebase-standards.mdc
  .cursor/rules/dynamic-image-endpoints.mdc
  .cursor/rules/iteration-surface.mdc
  .cursor/rules/parallel-subagents.mdc
  .cursor/rules/plan-infra.mdc
  .cursor/rules/planning-standards.mdc
  .cursor/rules/slice-and-ship.mdc
  .cursor/rules/solidstart-routing.mdc
  .cursor/rules/workflow-routing.mdc
  .cursor/rules/write-tests-e2e.mdc
  .cursor/rules/write-tests-frontend.mdc
  .cursor/rules/write-tests.mdc
Due: none

docs: add organism pattern, cli reference, and citation gate
  .github/workflows/ci.yml
  docs/cli-reference.md
  docs/decisions/003-selector-verifier-pattern.md
  docs/decisions/004-sse-over-websockets.md
  docs/decisions/005-onmount-signals-over-createresource.md
  docs/organism-pattern.md
  docs/staleness.md
  docs/testing-checklist.md
  scripts/check_citation_freshness.sh
Due: none

docs: prepare v0.3.0 release notes and README accuracy
  CHANGELOG.md
  README.md
Due: none

fix: add devcontainer frontend script and logger race safety
  .github/workflows/ci.yml
  .vscode/start-frontend-dev.sh
  backend/internal/logger/logger.go
Due: backend

fix: align rules and docs with subpackage layout
  .cursor/rules/deploy-infra.mdc
  .cursor/rules/document-module.mdc
  .cursor/rules/external-api.mdc
  .cursor/rules/go-service.mdc
  .cursor/rules/plan-feature.mdc
  .cursor/rules/sse-realtime.mdc
  .cursor/rules/write-tests.mdc
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/example-module.md
  frontend/package.json
Due: none

docs: fix test counts and align CI rule docs with harness
  .cursor/rules/ci-workflow.mdc
  .cursor/rules/document-module.mdc
  .cursor/rules/go-handler.mdc
  .cursor/rules/openapi.mdc
  .cursor/rules/write-tests.mdc
  CHANGELOG.md
  README.md
  scripts/README.md
Due: none

docs: pre-audit cleanup for accurate counts and wire-era docs
  .cursor/rules/parallel-subagents.mdc
  CHANGELOG.md
  README.md
  docs/README.md
  docs/api-versioning.md
  docs/architecture.md
  docs/infrastructure/devops.md
  docs/modules/auth/spec.md
  docs/modules/feature/spec.md
  docs/modules/users/spec.md
  docs/organism-pattern.md
  docs/staleness.md
  scripts/check_citation_freshness.sh
Due: none

docs: fix CHANGELOG order and remaining rule path drift
  .cursor/rules/codebase-standards.mdc
  .cursor/rules/document-module.mdc
  .cursor/rules/feature-flags.mdc
  CHANGELOG.md
  docs/cli-reference.md
Due: none

fix(frontend): polish Tailwind v4 migration
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/app.css
  frontend/src/app.tsx
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/atoms/Calendar.tsx
  frontend/src/components/atoms/Checkbox.tsx
  frontend/src/components/atoms/Input.tsx
  frontend/src/components/atoms/Label.tsx
  frontend/src/components/atoms/Textarea.tsx
  frontend/src/components/molecules/Combobox/Combobox.tsx
  frontend/src/components/molecules/DatePicker/DatePicker.tsx
  frontend/src/components/molecules/DatePicker/DateRangePicker.tsx
  frontend/src/components/molecules/Menu/Menu.tsx
  frontend/src/components/molecules/MultiSelect/MultiSelect.tsx
  frontend/src/components/molecules/NumberInput/NumberInput.tsx
  frontend/src/components/molecules/Select/Select.tsx
  frontend/src/components/molecules/TimePicker/TimePicker.tsx
  frontend/src/components/molecules/ToggleGroup/ToggleGroup.tsx
  frontend/tailwind.config.js
Due: frontend

docs(rules): merge uflex go-handler spec consumption and middleware globs
  .cursor/rules/go-handler.mdc
Due: none

chore: finalize v0.3 docs and dependency bumps
  CHANGELOG.md
  README.md
  backend/go.mod
  backend/go.sum
  docs/README.md
  docs/cursor-rules.md
  docs/dependency-graph.md
  docs/patterns/tailwind/1-Page.md
  docs/staleness.md
  docs/start-here.md
  frontend/package-lock.json
  frontend/package.json
  scripts/README.md
Due: backend

fix(ci): expect 201 on register in handler integration tests
  .github/workflows/ci.yml
  backend/internal/handler/auth_integration_test.go
  frontend/package-lock.json
Due: backend

docs: refresh README for 0.3 and sync onboarding paths
  CONTRIBUTING.md
  README.md
  docs/plans/README.md
  docs/plans/coverage-and-eslint.md
  docs/quick-start.md
  docs/start-here.md
Due: none

Recover coverage tooling and raise test quality bars post-0.3.
  CHANGELOG.md
  README.md
  backend/internal/handler/auth_test.go
  backend/internal/observability/tracer.go
  backend/internal/observability/tracer_test.go
  backend/internal/wire/handlers_test.go
  backend/internal/wire/routes_test.go
  backend/internal/wire/services_test.go
  backend/internal/wire/wire_test.go
  codecov.yml
  docs/decisions/002-deferred-capabilities.md
  docs/patterns/testing/1-Page.md
  docs/plans/coverage-and-eslint.md
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/components/molecules/Menu/Menu.tsx
  frontend/src/components/molecules/PasswordInput/PasswordInput.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/auth.initialize.test.ts
  frontend/src/lib/auth.test.ts
  frontend/src/lib/format.test.ts
  frontend/src/lib/hooks/use-breakpoint.test.ts
  frontend/src/lib/hooks/use-breakpoint.test.tsx
  frontend/src/lib/stores/ui.test.ts
  frontend/src/lib/validation.test.ts
  frontend/src/routes/(private)/components/sections/AlertsSection.tsx
  frontend/src/routes/(private)/components/sections/ButtonsSection.tsx
  frontend/src/routes/(private)/components/sections/ControlSection.tsx
  frontend/src/routes/(private)/components/sections/InputsSection.tsx
  frontend/src/routes/(private)/components/sections/SurfaceSection.tsx
  frontend/src/routes/(private)/settings/settings.test.tsx
  frontend/src/routes/(public)/login/login.test.tsx
  frontend/src/routes/(public)/reset-password/reset-password.test.tsx
  frontend/src/routes/(public)/signup/signup.test.tsx
  frontend/vitest.config.ts
Due: backend, frontend

fix(docs): sync auth spec and restore spec-drift rules from uflex
  .cursor/rules/ci-workflow.mdc
  .cursor/rules/document-module.mdc
  .cursor/rules/git-commits.mdc
  docs/modules/auth/spec.md
Due: none

chore(frontend): pin h3@1.15.9 via npm overrides
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
Due: none

test(frontend): extend B4 component branch coverage
  frontend/src/components/molecules/Combobox/Combobox.test.tsx
  frontend/src/components/molecules/Menu/Menu.test.tsx
  frontend/src/components/molecules/MultiSelect/MultiSelect.test.tsx
  frontend/src/components/molecules/Select/Select.test.tsx
  frontend/src/components/organisms/navigation/Navbar.auth.test.tsx
  frontend/src/components/organisms/navigation/Sidebar.test.tsx
Due: frontend

docs(plans): scope B4 slices and update test counts to 831
  CHANGELOG.md
  README.md
  docs/plans/README.md
  docs/plans/coverage-and-eslint.md
Due: none

chore(rules): add plan-execution-loop with worktree guidance
  .cursor/rules/parallel-subagents.mdc
  .cursor/rules/plan-execution-loop.mdc
Due: none

test(frontend): complete B4d stretch coverage and sync docs
  .cursor/rules/write-tests-frontend.mdc
  CHANGELOG.md
  README.md
  docs/README.md
  docs/cli-reference.md
  docs/cursor-rules.md
  docs/decisions/002-deferred-capabilities.md
  docs/patterns/testing/1-Page.md
  docs/plans/README.md
  docs/plans/coverage-and-eslint.md
  docs/quick-start.md
  docs/start-here.md
  frontend/src/components/atoms/Textarea.test.tsx
  frontend/src/components/atoms/Tooltip.test.tsx
  frontend/src/components/molecules/LoadingOverlay/LoadingOverlay.test.tsx
  frontend/src/components/molecules/Menu/Menu.test.tsx
  frontend/src/components/molecules/MultiSelect/MultiSelect.test.tsx
  frontend/src/components/molecules/RadioGroup/RadioGroup.test.tsx
  frontend/src/components/molecules/Tabs/Tabs.test.tsx
  frontend/src/lib/sse.test.ts
Due: frontend

fix(frontend): satisfy no-this-alias in sse.test.ts
  frontend/src/lib/sse.test.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
